*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: #2775EF;
    height : 55px;
    width: 100vw;
    display : flex;
    justify-content: space-around;
    flex-wrap:wrap-reverse;
}

.navbar2{
    height : 40px;
    width: 100vw;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    display : flex;
    justify-content: space-around;
    flex-wrap:wrap-reverse;
    background-color: rgb(255, 247, 247);
    border-bottom: 1px 1px black solid;
}



.elec{
    flex-direction: row;
    color: black;
}

.icon img{
    padding-top: 2.5px;
    height : 50px;
    width: 90px;

}

.empty{
    width: 180px;
    flex-direction: row;
}

.search_bar{
    padding: 5px;
    padding-right: 0px;
}

.search_bar  input[type=text]{
    padding: 10px;
    padding-right: 0px;
    height: 40px;
    width: 200%;
}

.empty2{
    width: 85px;
    flex-direction: row;
    z-index: -1;
}
.search_btn{
    flex-direction: row;
    padding-top:5px;
    padding-bottom: 7.5px;
    padding-left: 0px;
    border-style: hidden;
    
}
.search_btn img{
    width: 100%;
    height:32px;
    padding: 2.5px;
    background: white;
    color: #2775EF;
    font-size: 17px;
    cursor: pointer;
    flex-direction: row;
    border-style: hidden;
}

.login_btn{
    height: inherit;
    width: 100px;
    flex-direction: row;
    padding: 15px;
    padding-top:10px;
}

.login_btn button{
    background-color: white;
    color:#2775EF;
    width: 130px;
    height:32px;
    padding: 2.5px;
    font-size: 17px;
    cursor: pointer;
    border-style: hidden;
    font-weight: bold;
}


.btn2{
    height: inherit;
    width: 110px;
    flex-direction: row;
    padding: 15px;
    padding-top: 10px;
    
}

#buttons button{
    background-color: #2775EF;
    color: white;
    width: 150px;
    height:32px;
    padding: 2.5px;
    font-size: 17px;
    cursor: pointer;
    border-style: hidden;
    font-weight: bold;
}


.more_btn{
    height: inherit;
    width: 100px;
    flex-direction: row;
    padding: 15px;
    padding-top: 10px;
}
.cart_btn{
    height: inherit;
    width: 100px;
    flex-direction: row;
    padding: 10px;
    padding-left: 15px;
    
}

.container {
    padding: 70px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;    
}

.container div {
    margin: 20px;
}

.pictures {
    width: 50px;
    cursor: pointer;
}

.pictures img{
    margin-bottom: 6px;
}

.picture {
    position: relative;
    width: 370px;
    height: auto;
}

#pic{
    width: 100%;

}
img {
    width: 100%;
}

.img-active {
    box-shadow: 0 0 5px blue, 0 0 5px blue;
}

.rect {
    position: absolute;
    margin: 0px !important;
    padding: 0;
    width: 200px;
    height: 150px;
    background-color: #78787c4d;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
}


.zoom {
    z-index: 10;
    position: absolute;
    top: 100px;
    left: 650px;
    background-image: url('images/img1.jpg');
    box-shadow: 5px 5px 5px rgb(24, 24, 24);
    opacity: 0;
}

.rect-active {
    opacity: 1;
}

.flexbox-container{
    display:flex;
    z-index: 1;
}

.flexbox-item{
    width: 50%;
    height: 100vh;
    border: black 10px 3px dotted;
}

.flexbox-item-1{
    z-index: 1;
}

.flexbox-item-2{
    width: 60%;
    padding-top: 40px ;
    
}

.deets h2{
    font-size: 20px;
    color: grey;
    font-weight: normal;
}

.spacing{
    line-height: 30px;
}

.delv{
    text-decoration: underline;
}

#delivery{
    border-style: hidden;
    height: 30px;
    outline: none;
}

#check{
    border-style: hidden;
    height: 30px;
    cursor: pointer;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}


.option {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}